.block-box-head {
  font-weight: bolder;
  padding: 2px;
  border-bottom: 2px solid #aaa;

  display: flex;
  align-items: center;
}

.block-box-head::before {
  content: '';
  width: 4px;
  height: 14px;
  background-color: #0088ff;
  margin-right: 4px;
  border-radius: 1px;
}

.block-box-body {
  padding: 16px 8px;
}
